/**
 * Metaphoric.nl Stylesheet
 * (c) Elte Hupkes
 */
@import "compass";

$title-color:#761407;
$link-color:#1f8cee;
$link-hover-color:darken($link-color, 20);
$border-color:#e2e2e2;

html, body {
	height:100%;
}
body {
	background:#dff4ff image-url('bg.jpg') fixed repeat-x;
	font:62.5%/1.5 'PT Sans', serif;
}

// Width including padding
$content-width:850px;
$content-padding:40px;
$content-font-size:1.8em;
$content-line-height:1.8em;

// Main structure
#sidebar {
	position:fixed;
	top:0;
	left:0;
	overflow:hidden;
	width:25%;
}
#logo {
	background:image-url('logo.png') no-repeat center center;
	height:image-height('logo.png');
	text-indent:-999px;
	overflow:hidden;
	width:100%;
	display:block;
	text-indent:-999px;
	margin-bottom:30px;
}

#content-wrapper {
	min-height:100%;
	margin-left:25%;
	color:#222;
	position:relative;
	background:#fff;
	@include box-shadow(0 0 2px 0 #bbb);

	h1 {
		font-size:3.4em;
	}
	h2 {
		font-size:2.4em;
	}
}
#meta {
	font-size:$content-font-size;
	border-bottom:1px solid $border-color;
	padding:10px $content-padding;
	// Clear hack
	overflow:hidden;
}
#published {
	text-transform:capitalize;
}
#older, #newer {
	float:right;
	margin-left:10px;
}

#content {
	padding:$content-padding;
	max-width:500px;

	p, ul, ol {
		font-size:$content-font-size;
		line-height:$content-line-height;
	}

	ul, ol {
		margin:1em 0 1em 1em;
	}
}

#about {
	padding:0 3%;
	float:right;
	max-width:300px;
	p {
		font-size:1.8em;
		margin-bottom:1em;
		@include text-shadow(1px 1px #e2e2e2);
	}
}

// Markup
h1, h2 {
	color:$title-color;
	font-weight:normal;
	margin-bottom:0.3em;
}

a {
	color: $link-color;
	text-decoration:underline;

	&:hover {
		color:$link-hover-color;
	}
}

// Footer
footer {
	border-top:1px solid $border-color;
	padding:$content-padding;
}

#latest {
	margin:0 0 0 20px;
	padding:0;
	list-style-type:disc;

	li {
		margin:0;
		padding:0 0 0 5px;
		font-size:$content-font-size;
	}
}

$ref-height:50px;
#links {
	list-style-type:none;
	li {
		float:left;
		overflow:hidden;
		margin-left:10px;
	}
	a {
		display:block;
		text-indent:-999px;
		height:$ref-height;
		border-radius:5px;
		padding:5px;
		&:hover {
			background-color:#fff;
		}
	}
}
@each $link in (youtube soundcloud github) {
	##{$link} {
		a {
			background:image-url('#{$link}.png') no-repeat center center;
			width:image-width('#{$link}.png');
		}
	}
}