<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{title}} :: Metaphoric</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/styles.css"/>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">
    <header id="sidebar">
        <a href="/" id="logo" title="Metaphoric, by Elte Hupkes"></a>
        <div id="about">
            <p>Hey! I'm Elte.</p>
            <p>I'm a developer from Amsterdam who loves tech, music and sports.</p>

            <ul id="links">
                <li id="github"><a href="http://github.com/ElteHupkes" title="See my stuff on GitHub">My stuff on GitHub</a></li>
                <li id="youtube"><a href="http://www.youtube.com/user/Ellutu" title="Watch me on YouTube">Watch me on YouTube</a></li>
                <li id="soundcloud"><a href="http://soundcloud.com/elte-hupkes" title="Hear me on SoundCloud">Hear me on SoundCloud</a></li>
                <li id="srxp"><a href="http://www.srxp.com" title="My company SR//Expenses">My company SR//Expenses</a></li>
            </ul>
        </div>
    </header>
    <section id="content-wrapper">
		{{{content}}}
    </section>
</div>
</body>
</html>