<header id="meta">
    <span id="published">{{published}}</span>
	{{#prev}}<a id="older" href="{{link}}" title="{{title}}">{{truncated}} &gt;&gt; </a>{{/prev}}
	{{#next}}<a href="{{link}}" id="newer" title="{{title}}">&lt;&lt; {{truncated}}</a>{{/next}}
</header>
<article id="content">
	{{{content}}}
</article>

<footer>
    <h2>Latest posts</h2>
    <ol id="latest">
		{{#latest}}
            <li><a href="{{link}}">{{title}} ({{published}})</a></li>
		{{/latest}}
		<li><a href="all-posts.html">&gt;&gt; All posts</a></li>
    </ol>
</footer>